# Ignore generated / platform-specific code for language stats

# iOS / macOS
ios/* linguist-vendored
macos/* linguist-vendored

# Android
android/* linguist-vendored

# Linux / Windows
linux/* linguist-vendored
windows/* linguist-vendored

# Flutter / Dart generated folders
.build/ linguist-vendored
.dart_tool/ linguist-vendored
.packages linguist-vendored
pubspec.lock linguist-vendored

# Misc
*.iml linguist-vendored
.idea/* linguist-vendored
